# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
           - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
    - "C:\\Build\\alertmanager\\alert_rules.yml" # use backslash when it's a path.
  # - "first_rules.yml" use filename when it's in same folder as the executable.
  
# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "Prometheus Server"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: Windows_exporters
    static_configs:
      - targets: ["PRM.lab.com:9182"] # Windows exporter port.
      - targets: ["DC1.lab.com:9182"] # Windows exporter port.
  - job_name: "*NIX Exporters"
    static_configs:
      - targets: ["bsd1.lab.com:9100"] # *NIX default exporter port.
  - job_name: 'blackbox-web'
    metrics_path: /probe
    params:
      module: [http_2xx_example]  # Look for a HTTP 200 response.
    static_configs:
      - targets:
        - http://test.lab.com/
        - http://bsd1.lab.com/
        #- https://prometheus.io   # Target to probe with https.
        #- http://example.com:8080 # Target to probe with http on port 8080.
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115  # The blackbox exporter's real hostname:port.
  - job_name: 'blackbox_exporter'  # collect blackbox exporter's operational metrics.
    static_configs:
      - targets: ['127.0.0.1:9115']
# ICMP jobs.
  - job_name: blackbox-ping
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
        - dc1.lab.com
        - 1.1.1.10 # <== Put here your targets
        - bsd1.lab.com
    relabel_configs:    # <== This comes from the blackbox exporter README
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9115 # Blackbox exporter.      